@using JazMax.Core.SystemHelpers
@{
    ViewBag.Title = "View";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#idActivity">
   Enquire
</button>

<!-- Modal -->
<div class="modal fade" id="idActivity" tabindex="-1" role="dialog" aria-labelledby="idActivityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="idActivityLabel">Add Lead Activity</h4>
            </div>
    
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


