@model IEnumerable<JazMax.Web.ViewModel.PropertyManagement.PropertyListingFeatureView>

@{
    ViewBag.Title = "View";
}

<table class="table table-striped table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <strong> @Html.DisplayFor(modelItem => item.FeatureName)</strong>
            </td>
        </tr>
      
    }
</table>

