<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jazmaxrealtors.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jazmaxrealtors.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JazmaxRealtors</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JazmaxRealtors</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JazMaxDBProdContextA" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jazmaxfinal.database.windows.net,1433;Initial Catalog=JazMaxFinal;Persist Security Info=False;User ID=nikhil;Password=Passw0rd123*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:jazmaxfinal.database.windows.net,1433;Initial Catalog=JazMaxFinal;Persist Security Info=False;User ID=nikhil;Password=Passw0rd123*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JazMax.Web.Models.ApplicationDbContext, JazMax.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=jazmaxcrm;AccountKey=O6cpvwz5a8z6PIA2yDKqsc/SknobMzUExKkrt+1fhXFGcwTxenyj0Ef6oTWSibJHjZCkfNgw9EnjjqdXVGnK3Q==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=jazmaxcrm;AccountKey=O6cpvwz5a8z6PIA2yDKqsc/SknobMzUExKkrt+1fhXFGcwTxenyj0Ef6oTWSibJHjZCkfNgw9EnjjqdXVGnK3Q==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JazMaxDBProdContext" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:jazmaxfinal.database.windows.net,1433;Initial Catalog=JazMaxFinal;Persist Security Info=False;User ID=nikhil;Password=Passw0rd123*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:jazmaxfinal.database.windows.net,1433;Initial Catalog=JazMaxFinal;Persist Security Info=False;User ID=nikhil;Password=Passw0rd123*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-SGNFCGR\SQLEXPRESS;Initial Catalog=JazMaxDBProd;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JazMaxDBProdContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SGNFCGR\SQLEXPRESS;initial catalog=JazMaxDBProd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="JazMaxDBProdContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="server=tcp:jazmaxfinal.database.windows.net,1433;initial catalog=JazMaxFinal;persist security info=False;user id=nikhil;password=Passw0rd123*;multipleactiveresultsets=False;encrypt=True;trustservercertificate=False;connection timeout=30;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="JazMaxDBProdContextA-Web.config Connection String">
      <ParameterValue>Server=tcp:jazmaxfinal.database.windows.net,1433;Initial Catalog=JazMaxFinal;Persist Security Info=False;User ID=nikhil;Password=Passw0rd123*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="JazMaxDBProdContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="server=tcp:jazmaxfinal.database.windows.net,1433;initial catalog=JazMaxFinal;persist security info=False;user id=nikhil;password=Passw0rd123*;multipleactiveresultsets=False;encrypt=True;trustservercertificate=False;connection timeout=30;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="JazMaxDBProdContextA-Web.config Connection String">
      <ParameterValue>Server=tcp:jazmaxfinal.database.windows.net,1433;Initial Catalog=JazMaxFinal;Persist Security Info=False;User ID=nikhil;Password=Passw0rd123*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>