@model JazMax.Web.ViewModel.UserAccountView.CoreBranchView

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
