@model JazMax.Web.ViewModel.UserAccountView.UserProvinceDetails
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Pronvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pronvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAInfo)
        </dd>

    </dl>
</div>
