@model JazMax.Web.ViewModel.UserAccountView.UserBranchDetails

@{
    ViewBag.Title = "EditBranch";
}


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
    </div>


