@model IEnumerable<JazMax.Web.ViewModel.UserAccountView.CoreUserDetails>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Add User", "Create")
</p>

@Html.Partial("_SystemUsers", Model)